# ------------------------------------- Expo ------------------------------------ #
.expo/**/*
scripts/reset-project.js

# ---------------------------------- Tyepscript --------------------------------- #
tsconfig.json

# ------------------------------------ Assets ----------------------------------- #
assets/**/*
node_modules/**/*

# ------------------------------------ Project ----------------------------------- #
android/**/*
ios/**/*
**/*.md